/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

* {
  font-family: Manrope;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* ROOT */
:root {
  /* color */
  --back-element: #f7f7ff;
  --back-text: #ffffff;
  --text: #202839;
  --secont-color-text: #6c7281;
  --secont-color-text-2: #8f939c;
  --accents: #ba55d3;
  /* size */
  --back-size: 1920px;
  --full-size: 1440px;
}

.accent-color {
  color: var(--accents);
}

/* header */

h1 {
  color: var(--text);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem; /* 166.667% */
  letter-spacing: 0.6px;
}

.header {
  margin: 0 auto;
  padding-bottom: 5rem;
  max-width: var(--back-size);
  background-image: url(/bookkeeping/img/фон.png);
  background-repeat: no-repeat;
}

.head-inside {
  justify-content: space-between;
  margin: auto;
  padding: 0 1rem 0 1rem;
  z-index: 50;
  position: relative;
  align-items: center;
  display: flex;
  max-width: var(--full-size);
  background-color: rgba(245, 222, 179, 0);
}

/* NAV */

.navigation {
  width: 36.5rem;
  display: inline-flex;
  align-items: flex-start;
  gap: 1.875rem;
  margin-left: 8rem;
}
ul {
  padding-inline-start: 0;
}
.nav {
  padding-top: 5px;
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  gap: 1.875rem;
}
.nav-menu {
  list-style-type: none;
  color: var(--secont-color-text);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
}
.nav-button {
  scroll-behavior: auto;
  transition: 0.5s;
  color: var(--second-color);
  text-decoration: none;
}
.nav-button:hover {
  color: var(--accents);
  text-decoration: none;
}
.number {
  margin: 1rem 0 1rem;
  margin-left: auto;
  transition: 0.5s;
  font-weight: 700;
  color: var(--text);
  cursor: pointer;
}
.number:hover {
  color: var(--accents);
  text-decoration: none;
}

/* Main H */

.head-text {
  justify-content: space-between;
  margin: auto;
  z-index: 50;
  position: relative;
  max-width: var(--full-size);
  background-color: rgba(245, 222, 179, 0);
}
.head-text-up {
  padding: 0 1rem 0 1rem;
  justify-content: space-between;
  margin: auto;
  z-index: 50;
  position: relative;
  display: flex;
  max-width: var(--full-size);
  background-color: rgba(245, 222, 179, 0);
}
.big-inf {
  color: var(--text);
  font-size: 2.5rem;
  width: 60%;
}

.small-inf {
  font-size: 1.3rem;
  color: var(--secont-color-text-2);
  margin-top: 52px;
  margin-right: 7rem;
  width: 27%;
  line-height: 1.8rem;
}
.head-img {
  padding: 0 1rem 0 1rem;
  justify-content: space-between;
  margin: auto;
  z-index: 50;
  position: relative;
  display: flex;
  max-width: var(--full-size);
}
.main-img {
  -webkit-box-shadow: 0px 15px 24px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 15px 24px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 15px 24px 0px rgba(34, 60, 80, 0.2);
  border-radius: 3rem;
  overflow: hidden;
}

/* inv - button */

.inv-button {
  z-index: 100;
  left: 74%;
  top: 25%;
  position: absolute;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

/* MAIN */

.main {
  margin: 0 auto;
  max-width: var(--back-size);
}

/* SEC1 */
.section-1 {
  display: block;
  position: relative;
  padding-top: 5rem;
  margin: 0 auto;
  max-width: var(--full-size);
}
.sec1-head {
  background-color: white;
  z-index: 100;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  display: flex;
  max-width: var(--full-size);
}
.sec1-h {
  margin-bottom: 1rem;
}

.title-sec1 {
  color: var(--text);
  font-size: 2rem;
  width: 35%;
}
.text-sec1 {
  padding-top: 1rem;
  font-size: 1.3rem;
  color: var(--secont-color-text-2);
  line-height: 1.8rem;
  width: 34%;
}
.main-autsorsing {
  margin-top: 1rem;
  margin-bottom: 5rem;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  display: flex;
  max-width: var(--full-size);
}

.autsorsing {
  padding: 2rem;
  box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  -moz-box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  border-radius: 1rem;
  background-image: url(../bookkeeping/img/fon2.png);
  width: 45%;
}
.categori {
  margin-left: 6rem;
  width: 45%;
}
.all-cat {
  display: flex;
  padding: 1rem 1rem 1rem 2rem;
  background-image: url(../bookkeeping/img/фон.png);
  box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  -moz-box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  border-radius: 1rem;
  margin-bottom: 3.5rem;
  height: 5rem;
  width: 100%;
}
.cat3 {
  margin-bottom: 0;
}

.aut-txt-1 {
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 45%;
}
.aut-head-txt {
  margin: 1rem 0 1rem 0;
  font-size: 1.4rem;
}
.aut-txt-2 {
  color: var(--secont-color-text-2);
  width: 50%;
}
.aut-txt-3 {
  font-weight: 600;
  color: var(--secont-color-text);
  width: 75%;
}

.aut-button {
  transition: 0.5s;
  margin-top: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  color: white;
  background-color: var(--accents);
  width: 15rem;
  height: 3.5rem;
  border-radius: 3rem;
}
.aut-button:hover {
  transform: scale(115%);
}

.icon-cat1 {
  margin-right: 1rem;
  height: 3rem;
  width: 3rem;
}
.text-cat {
  color: var(--secont-color-text);
  font-size: 1rem;
  margin: auto;
  margin-right: 4rem;
}

/* SEC2 */

.fon2 {
  background-image: url(../bookkeeping/img/fon3.png);
  margin: 0 auto;
  max-width: var(--back-size);
}
.section-2 {
  padding-bottom: 5rem;
  padding-top: 5rem;
  margin: 0 auto;
  max-width: var(--full-size);
}
.sec2-head {
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  display: flex;
  max-width: var(--full-size);
}

.title-sec2 {
  color: var(--text);
  font-size: 2rem;
  width: 35%;
}
.text-sec2 {
  padding-top: 1rem;
  font-size: 1.3rem;
  color: var(--secont-color-text-2);
  line-height: 1.8rem;
  width: 34%;
}

.solutions {
  padding: 0 1rem 0 1rem;
  max-width: var(--full-size);
}

.all-solut {
  gap: 3rem;
  display: flex;
  max-width: var(--full-size);
}
.all-cont-inf {
  box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  -moz-box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  border-radius: 1rem;
  background-color: white;
  padding: 2rem;
  padding-right: 8rem;
  font-weight: 500;
  width: 50%;
  margin-bottom: 2rem;
}
.all-cont-best {
  border-radius: 1rem;
  color: #ffffff;
  background-color: var(--accents);
  padding: 2rem;
  padding-left: 4rem;
  margin-bottom: 2rem;
  font-weight: 500;
  width: 50%;
}
h4 {
  margin-top: 0;
  font-size: 1.4rem;
}
.H-cont-inf {
  color: var(--accents);
}
.P-cont-inf {
  font-weight: 600;
  color: var(--text);
}

/* SEC3 */

.section-3 {
  padding-bottom: 5rem;
  padding-top: 5rem;
  margin: 0 auto;
  max-width: var(--full-size);
}
.sec3-head {
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  display: flex;
  max-width: var(--full-size);
}

.title-sec3 {
  color: var(--text);
  font-size: 2rem;
  width: 35%;
}
.text-sec3 {
  padding-top: 1rem;
  font-size: 1.3rem;
  color: var(--secont-color-text-2);
  line-height: 1.8rem;
  width: 34%;
}

.stereotypes {
  padding: 0 1rem 0 1rem;
  display: flex;
  max-width: var(--full-size);
}
.arrow {
  transition: 0.5s;
  cursor: pointer;
  transform: rotate(230deg);
  width: 3%;
}
.arrow:hover {
  transform: scale(1.5);
}
.stereot-first {
  height: 20%;
  overflow: hidden;
  text-align: center;
  background-image: url(../bookkeeping/img/фон.png);
  box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  -moz-box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  border-radius: 1rem;
  background-color: white;
  padding: 2rem;
  font-weight: 500;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: space-between;
  display: block;
  width: 100%;
}
.text-stereot-1,
.text-stereot-2,
.text-stereot-3 {
  text-align: left;
  margin-top: 1rem;
  transition: 1s;
  opacity: 0;
}
.h-ster {
  transition: 5s;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  display: flex;
}
.class-hight {
  height: 40%;
}
.class-opasity {
  opacity: 1;
}
.text {
  display: block;
  opacity: 0;
  opacity: 0;
  animation: ani 2.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.all-ster {
  display: flex;
  max-width: var(--full-size);
}
.all-ster-inf {
  height: 6rem;
  background-image: url(../bookkeeping/img/фон.png);
  box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  -moz-box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  border-radius: 1rem;
  background-color: white;
  padding: 2rem;
  font-weight: 500;
  width: 50%;
  margin-right: 3rem;
}
.all-ster-best {
  border-radius: 1rem;
  color: #ffffff;
  background-color: var(--accents);
  padding: 1rem;
  padding-left: 4rem;
  margin-bottom: 1rem;
  font-weight: 500;
  width: 100%;
}
.H-ster-inf {
  margin-bottom: 0;
  color: var(--text);
}
.P-ster-inf {
  font-weight: 600;
  color: var(--secont-color-text-2);
}

.ster-best2,
.ster-best3 {
  color: var(--secont-color-text-2);
  background-image: url(../bookkeeping/img/фон.png);
}

.years {
  margin-bottom: 1.5rem;
  margin-left: 4rem;
  justify-content: space-between;
  display: flex;
}

.years-txt-1 {
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 45%;
}
.years-txt-2 {
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 20%;
}
.h-years {
  width: 20%;
  margin: 0;
}

.years2 {
  margin-left: 4rem;
  justify-content: space-between;
  display: flex;
}

.years2-txt-1 {
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 45%;
}
.years2-txt-2 {
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 20%;
}

.h-years2 {
  width: 20%;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.partner {
  margin-bottom: 1.5rem;
  margin-left: 4rem;
  justify-content: space-between;
  display: flex;
}

.partner-txt-1 {
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 45%;
}
.partner-txt-2 {
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 20%;
}
.h-partner {
  color: var(--text);
  width: 20%;
  margin: 0;
}

.partner2 {
  margin-left: 4rem;
  justify-content: space-between;
  display: flex;
}

.partner2-txt-1 {
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 35%;
}
.partner2-txt-2 {
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 30%;
}

.h-partner2 {
  color: var(--text);
  width: 20%;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.operation {
  margin-bottom: 1.5rem;
  margin-left: 4rem;
  justify-content: space-between;
  display: flex;
}

.operation-txt-1 {
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 35%;
}
.operation-txt-2 {
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 30%;
}
.h-operation {
  color: var(--text);
  width: 20%;
  margin: 0;
}

.operation2 {
  margin-left: 4rem;
  justify-content: space-between;
  display: flex;
}

.operation2-txt-1 {
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 35%;
}
.operation2-txt-2 {
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 30%;
}

.h-operation2 {
  color: var(--text);
  width: 20%;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.left-stereot {
  width: 50%;
  margin-right: 3rem;
}
.right-stereot {
  width: 50%;
}

/* SEC4 */

.section-4 {
  padding-bottom: 5rem;
  background-image: url(../bookkeeping/img/fon4.png);
  margin: 0 auto;
  max-width: var(--back-size);
}
.sec4-main {
  padding-top: 5rem;
  margin: 0 auto;
  max-width: var(--full-size);
}
.sec4-head {
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  display: flex;
  max-width: var(--full-size);
}

.title-sec4 {
  color: var(--text);
  font-size: 2rem;
  width: 35%;
}
.text-sec4 {
  padding-top: 1rem;
  font-size: 1.3rem;
  color: var(--secont-color-text-2);
  line-height: 1.8rem;
  width: 34%;
}

.tariff {
  padding: 0 1rem 0 1rem;
  margin: 0 auto;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  max-width: var(--full-size);
}

.all-tariff {
  box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  -moz-box-shadow: 0px 0px 14px 0px rgba(69, 90, 222, 0.64);
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  width: 30%;
}

.tariff-P {
  background-image: url(../bookkeeping/img/фон.png);
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 70%;
}
.tariff-H2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.tariff-button {
  transition: 0.5s;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  color: white;
  background-color: var(--accents);
  width: 18rem;
  height: 3rem;
  border-radius: 3rem;
}

.tariff-button:hover {
  transform: scale(115%);
}

.tariff-ul {
  margin-left: 2rem;
  line-height: 1.5rem;
  width: 60%;
}
.traff-li {
  color: var(--accents);
  margin-bottom: 1rem;
}

.li-color {
  color: var(--text);
}

.tariff-P-xl {
  background-image: url(../bookkeeping/img/фон.png);
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 80%;
}

/* SEC5 */
.section-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0 auto;
  max-width: var(--full-size);
}

.sec5-head {
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  display: flex;
  max-width: var(--full-size);
}

.title-sec5 {
  color: var(--text);
  font-size: 2rem;
  width: 35%;
}
.text-sec5 {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.3rem;
  color: var(--secont-color-text-2);
  line-height: 1.8rem;
  width: 34%;
}
.review {
  border-radius: 1rem;
  padding: 2rem;
  background-image: url(../bookkeeping/img/fon2.png);
}
.review-scroll {
  gap: 2rem;
  /* flex-wrap: wrap; */
  display: flex;
}

.review-img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.title-name-rev {
  margin-bottom: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
}
.rev-name {
  font-weight: 600;
  color: var(--text);
}
.rev-txt {
  color: var(--secont-color-text-2);
  width: 20rem;
}
.rev-data {
  color: var(--secont-color-text-2);
}

/* sec6 */
.fon6 {
  background-image: url(../bookkeeping/img/fon-blue.png);
  margin: 0 auto;
  max-width: var(--back-size);
}

.section-6 {
  padding-bottom: 8rem;
  margin: 0 auto;
  max-width: var(--full-size);
}
.main-application {
  position: relative;
  height: 30rem;
  display: flex;
  max-width: var(--full-size);
}
.img-application {
  height: 100%;
  width: 50%;
}
.app-img {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 100%;
  width: 100%;
}
.application {
  padding: 5rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: var(--text);
  height: 100%;
  width: 50%;
}

.main-button {
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  color: white;
  background-color: var(--accents);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.main-button:hover {
  transform: scale(125%);
}
.button-application {
  z-index: 100;
  left: 41%;
  top: 40%;
  position: absolute;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}
.app-h3 {
  line-height: 2.5rem;
  margin-top: 0;
  width: 80%;
  font-size: 1.7rem;
  color: white;
}

/* Form */
hr {
  height: 1px;
  border: 0;
  background-color: var(--secont-color-text);
}
.underline {
  margin-bottom: 2rem;
  width: 70%;
}
.checkbox {
  display: flex;
  gap: 1rem;
}
.label-check {
  display: block;
  color: var(--secont-color-text-2);
}
.input-check {
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.input-check + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.input-check + label::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--secont-color-text);
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.input-check:checked + label::before {
  border-color: #0b76ef;
  background-color: rgb(7, 20, 6);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.input-check:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.input-check:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.input-check:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.input-check:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.input-check:disabled + label::before {
  background-color: #e9ecef;
}

.form-a {
  transition: 0.5s;
  text-decoration: none;
}
.form-a:visited {
  color: var(--accents);
}
.form-a:hover {
  color: #0b76ef;
}
.name-input,
.number-input {
  font-size: 1.3rem;
  padding-left: 1rem;
  color: #f7f7ff;
  border: none;
  outline: none;
  background-color: #202839;
}

.ppl-icon {
  width: 1rem;
  height: 1rem;
}
.phone-icon {
  width: 1rem;
  height: 1rem;
}

/* SEC7 */

.section-7 {
  padding-bottom: 5rem;
  margin: 0 auto;
  max-width: var(--full-size);
}

.sec7-head {
  gap: 4rem;
  padding: 0 1rem 0 1rem;
  display: flex;
  max-width: var(--full-size);
}

.title-sec7 {
  color: var(--text);
  font-size: 2rem;
  width: 45%;
}
.text-sec7 {
  padding-top: 1rem;
  font-size: 1.3rem;
  color: var(--secont-color-text-2);
  line-height: 1.8rem;
  width: 34%;
}
.main-Feedback {
  width: 50%;
}
.main-Feedback {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.mail-number-feed,
.button-feedback {
  gap: 1rem;
  width: 50%;
  display: block;
  max-width: var(--full-size);
}
.number-p {
  margin: 0;
  background-image: url(../bookkeeping/img/фон.png);
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
}
.number-under,
.mail {
  width: 40%;
  margin: 0;
}
.mailto {
  width: 100%;
  display: block;
  background-color: var(--back-element);
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: 700;
  transition: 0.5s;
  text-decoration: none;
  color: var(--secont-color-text);
}
.mailto:hover {
  background-color: var(--accents);
  color: white;
}
.tel-number {
  width: 100%;
  display: block;
  margin: 0;
  color: var(--secont-color-text-2);
  text-align: center;
  padding: 0.5rem;
  background-color: var(--back-element);
  border-radius: 1rem;
  font-weight: 700;
  transition: 0.5s;
  text-decoration: none;
  color: var(--secont-color-text-2);
}
.tel-number:hover {
  background-color: var(--accents);
  color: white;
}
.all-mail {
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
}
.icon-feed {
  gap: 1rem;
  display: flex;
  width: 100%;
}
.telegram {
  transition: 0.5s;
  padding: 0.5rem;
  text-align: center;
  border-radius: 1rem;
  width: 25%;
}
.telegram:hover {
  background-color: var(--accents);
}
.icon {
  cursor: pointer;
  transition: 0.5s;
  height: 2rem;
  width: 2rem;
}

.call-us {
  position: relative;

  transition: 0.5s;
  cursor: pointer;
  font-size: 1.5rem;
  border: solid 1px;
  color: var(--accents);
  background-color: white;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}
.call-us:hover {
  color: white;
  background-color: var(--accents);
  transform: scale(125%);
}

/* footer */
.footer {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: white;
  margin: 0 auto;
  background-color: var(--text);
  width: var(--back-size);
}
.footer-menu {
  margin-left: 0;
  color: var(--back-element);
}

/* animation */
.element-animation-right {
  opacity: 0;
  transform: translateX(-15%);
}
.element-animation-left {
  opacity: 0;
  transform: translateX(+25%);
}
.element-animation-up {
  opacity: 0;
  transform: translateY(-25%);
}
.element-animation {
  opacity: 0;
  transform: translateY(5%);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
.element-animation-right.element-show-right {
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(0%);
}
.element-animation-left.element-show-left {
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(0%);
}
.element-animation-up.element-show-up {
  opacity: 1;
  transition: 1.5s;
  transform: translateY(0%);
}

/* button */
.main-button {
  transition: 0.5s;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  color: white;
  background-color: var(--accents);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.main-button:hover {
  transition: 0.5s;
  transform: scale(125%);
}
/* slider */
.max-img-container {
  transition: all 1s;
  position: relative;
  max-width: 100%;
  justify-content: space-between;
  display: flex;
  left: 0;
}
.img1 {
  padding: 0 10px 0 10px;
}
/* .img1-div,
.img2-div,
.img3-div,
.img4-div,
.img5-div {
  margin: 0 10px 0 10px;
} */

.curret {
  float: inline-end;
  margin: auto;
  display: flex;
}
.carret-lef,
.carret-rig {
  display: block;
  width: 3rem;
  height: 3rem;
}
.disabel-lef,
.disabel-rig {
  display: none;
}

.images-items {
  overflow: hidden;
  max-width: 1400px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.pagination {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  width: 78px;
  height: 26px;
  flex-shrink: 0;
}
.pagination-button {
  cursor: pointer;
  position: relative;
  min-width: 26px;
  min-height: 26px;
}
.pagination-click {
  cursor: pointer;
  position: absolute;
  margin: 5px;
  border-radius: 50%;
  background-color: black;
  width: 16px;
  height: 16px;
}
.pagination-click:hover {
  background-color: #bb945f;
}
.active-brown {
  background-color: #bb945f;
}
.button4-pag,
.button5-pag {
  display: none;
}

/* затемнение */
.backgrey {
  opacity: 1;
  z-index: 120;
  transition: all 0.3s linear;
  left: 0;
  top: 0;
  background-color: #312f2fa6;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
}

/* Ask MENU */
.img-reg {
  border-radius: 1rem;
  width: 40%;
}
.register {
  opacity: 1;
  border-radius: 1rem;
  display: flex;
  z-index: 121;
  transition: all 0.3s linear;
  color: #000;
  background: #fff;
  width: 75vw;
  height: 70vh;
  left: 15%;
  top: 15%;

  position: fixed;
}
.name-close {
  color: var(--text);
  font-size: 20px;
  line-height: 20px; /* 100% */
  display: flex;
}
.close-btn {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.close-btn span {
  cursor: pointer;
  flex-shrink: 0;
  width: 18px;
  height: 3px;
  position: absolute;
  left: 95%;
  transform: translate(-50%, -50%);
  background-color: #000000;
}

.close-btn span:nth-of-type(1) {
  transition: all 0.2s linear;
  top: 7%;
  transform: translate(-50%, -6px) rotate(45deg);
}
.close-btn span:nth-of-type(2) {
  transition: all 0.2s linear;
  top: 7%;
  transform: translate(-50%, -6px) rotate(135deg);
}
#crossOne:hover {
  background-color: var(--accents);
}
#crossTwo:hover {
  background-color: var(--accents);
}

#Reg-email {
  border-color: #bb945f;
}

.form-ramka {
  overflow-x: hidden;
}
.form-reg {
  padding: 1rem;
  width: 100%;
}

.underline-reg {
  margin-bottom: 2rem;
  width: 70%;
}
.checkbox-reg {
  display: flex;
  gap: 1rem;
}
.label-check-reg {
  display: block;
  color: var(--secont-color-text-2);
}
.input-check-reg {
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.input-check-reg + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.input-check-reg + label::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--secont-color-text);
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.input-check-reg:checked + label::before {
  border-color: #0b76ef;
  background-color: rgb(7, 20, 6);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.input-check-reg:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.input-check-reg:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.input-check-reg:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.input-check-reg:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.input-check-reg:disabled + label::before {
  background-color: #e9ecef;
}

.form-a-reg {
  transition: 0.5s;
  text-decoration: none;
}
.form-a-reg:visited {
  color: var(--accents);
}
.form-a-reg:hover {
  color: #0b76ef;
}
.name-input-reg,
.number-input-reg {
  font-size: 2rem;
  padding-left: 1rem;
  color: var(--text);
  border: none;
  outline: none;
  background-color: white;
}

.ppl-icon-reg {
  width: 1rem;
  height: 1rem;
}
.phone-icon-reg {
  width: 1rem;
  height: 1rem;
}
.application-reg {
  padding: 2rem;
  padding-left: 5rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: white;
  height: 100%;
  width: 60%;
}

.register-name-reg {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 3rem;
}
.register-text-reg {
  font-size: 1.5rem;
  color: var(--secont-color-text-2);
}
.text-title-reg {
  width: 65%;
  text-align: left;
}
.reg-button {
  margin-left: 3rem;
  transition: 0.5s;
  margin-top: 3rem;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  color: white;
  background-color: var(--accents);
  width: 15rem;
  height: 3.5rem;
  border-radius: 3rem;
}
.reg-button:hover {
  transform: scale(125%);
}

.hidden {
  display: none;
}
.visual {
  opacity: 0;
}

/* MEDIA-addaptive */

@media (max-width: 1620px) {
  .register-name-reg {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .register-text-reg {
    font-size: 1rem;
  }
}
@media (max-width: 1440px) {
  .name-input-reg,
  .number-input-reg {
    font-size: 1rem;
  }
}
@media (max-width: 1280px) {
  .reg-button {
    height: 3rem;
    margin-top: 1rem;
  }
  .label-check-reg {
    font-size: 0.7rem;
  }
  .register-name-reg {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  .register-text-reg {
    font-size: 0.7rem;
  }
}
@media (max-width: 1050px) {
  .input-check-reg + label::before {
    width: 0.7rem;
    height: 0.7rem;
  }
  .underline-reg {
    margin-bottom: 0.5rem;
  }
  .name-input-reg,
  .number-input-reg {
    font-size: 0.7rem;
  }
  .reg-button {
    height: 2rem;
    margin-top: 0.5rem;
  }
  .label-check-reg {
    font-size: 0.5rem;
  }
  .register-name-reg {
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
  }
  .register-text-reg {
    font-size: 0.7rem;
  }
}
@media (max-width: 855px) {
  .application-reg {
    padding-left: 1rem;
  }
  .form-reg {
    padding: 0.5rem;
  }
  .input-check-reg + label::before {
    width: 0.5rem;
    height: 0.5rem;
  }
  .name-input-reg,
  .number-input-reg {
    font-size: 0.5rem;
  }
  .register-name-reg {
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
  }
  .register-text-reg {
    line-height: 0.6rem;
    margin-bottom: 0;
    font-size: 0.6rem;
  }
  .reg-button {
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
  hr {
    margin: 0.1rem;
  }
}
@media (max-width: 650px) {
  .close-btn span {
    cursor: pointer;
    flex-shrink: 0;
    width: 0.5rem;
    height: 0.1rem;
  }
  .application-reg {
    padding-top: 0.5rem;
    padding-left: 1rem;
  }
  .form-reg {
    padding: 0.3rem;
  }
  .input-check-reg + label::before {
    width: 0.3rem;
    height: 0.3rem;
  }
  .name-input-reg,
  .number-input-reg {
    font-size: 0.3rem;
  }
  .register-name-reg {
    margin-bottom: 0.2rem;
    font-size: 0.5rem;
  }
  .register-text-reg {
    line-height: 0.4rem;
    margin-bottom: 0;
    font-size: 0.4rem;
  }
  .reg-button {
    width: 50%;
    font-size: 0.5rem;
    height: 1.1rem;
    margin-top: 0.3rem;
    margin-left: 1rem;
  }
  hr {
    margin: 0.1rem;
  }
}
@media (max-width: 550px) {
  .application-reg {
    border-radius: 1rem;
    width: 100%;
  }
  .register {
    left: 25%;
    width: 50vw;
    height: 70vh;
  }
  .img-reg {
    display: none;
  }
}
@media (max-width: 450px) {
  .label-check-reg {
    font-size: 0.4rem;
  }
  .close-btn span {
    left: 90%;
    cursor: pointer;
    flex-shrink: 0;
    width: 0.3rem;
    height: 0.1rem;
  }
  .application-reg {
    padding-top: 0.3rem;
    padding-left: 1rem;
  }
  .form-reg {
    padding: 0.1rem;
  }
  .input-check-reg + label::before {
    width: 0.2rem;
    height: 0.2rem;
  }
  .name-input-reg,
  .number-input-reg {
    font-size: 0.3rem;
  }
  .register-name-reg {
    margin-bottom: 0;
    font-size: 0.5rem;
  }
  .register-text-reg {
    line-height: 0.3rem;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.3rem;
  }
  .reg-button {
    width: 50%;
    font-size: 0.5rem;
    height: 1.1rem;
    margin-top: 0.3rem;
    margin-left: 1rem;
  }
  hr {
    margin: 0.1rem;
  }
  .input-check-reg:focus + label::before {
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
  }
  .checkbox-reg {
    gap: 0;
  }
}
@media (max-width: 350px) {
  .input-check-reg:focus + label::before {
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
  }
  #crossOne {
    top: 10%;
  }
  #crossTwo {
    top: 10%;
  }
  .underline-reg {
    height: 1rem;
    margin-bottom: 0.1rem;
  }
  .label-check-reg {
    font-size: 0.2rem;
  }
  .close-btn span {
    left: 90%;
    cursor: pointer;
    flex-shrink: 0;
    width: 0.3rem;
    height: 0.1rem;
  }
  .application-reg {
    padding-top: 0.3rem;
    padding-left: 1rem;
  }
  .form-reg {
    padding: 0.1rem;
  }
  .input-check-reg + label::before {
    width: 0.2rem;
    height: 0.2rem;
  }
  .name-input-reg,
  .number-input-reg {
    font-size: 0.2rem;
  }
  .register-name-reg {
    margin-bottom: 0;
    font-size: 0.3rem;
  }
  .register-text-reg {
    line-height: 0.2rem;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.2rem;
  }
  .reg-button {
    width: 50%;
    font-size: 0.3rem;
    height: 0.6rem;
    margin-top: 0.3rem;
    margin-left: 1rem;
  }
  hr {
    margin: 0.02rem;
  }
  .checkbox-reg {
    gap: 0;
    margin-top: 0.5rem;
  }
}
